In [1]:
%run C:\\Users\\HSS\\dd.py

In [2]:
kospi_df = pd.read_csv('kospi.csv')

In [3]:
kospi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
aq      10000 non-null int64
cr      10000 non-null float64
cv      10000 non-null int64
dt      10000 non-null int64
hv      10000 non-null float64
lv      10000 non-null float64
ncv     10000 non-null int64
ov      10000 non-null float64
rf      10000 non-null int64
name    10000 non-null object
dtypes: float64(4), int64(5), object(1)
memory usage: 781.3+ KB

### Q1. 유니크한 날짜와 기업 수를 구하라

In [4]:
data = kospi_df.copy()
print('데이터는 {}일 동안 {}개의 기업의 KOSPI 데이터가 기록되었습니다.'.format(len(data['dt'].unique()), len(data['name'].unique())))

데이터는 100일 동안 100개의 기업의 KOSPI 데이터가 기록되었습니다.

### Q2. 2019 12 08 이후의 날짜별 평균 상승률을 소수 셋째자리까지 리스트의 딕셔너리 형태로 나타내시오

In [5]:
data = kospi_df.copy()
data.tail()

,aq,cr,cv,dt,hv,lv,ncv,ov,rf,name
9995,858185,0.000000,0,20190723,5420.0,5340.0,5380,5380.0,3,메리츠종금증권
9996,1187064,0.560748,30,20190722,5430.0,5310.0,5380,5340.0,2,메리츠종금증권
9997,939903,1.325758,70,20190719,5360.0,5260.0,5350,5350.0,2,메리츠종금증권
9998,1053114,0.763359,40,20190718,5340.0,5240.0,5280,5240.0,2,메리츠종금증권
9999,1146495,-0.380228,-20,20190717,5350.0,5220.0,5240,5260.0,5,메리츠종금증권

In [6]:
data = data.sort_values(['name','dt','cr'], ascending = True)[['name','dt','cr']]
data = data[data['dt']>20191208]
data = data.groupby('dt').mean().reset_index()
data = data.to_dict('records'); data

[{'cr': -0.041142984999999986, 'dt': 20191209.0},
 {'cr': 0.5446000007748605, 'dt': 20191210.0}]

### Q3. 2019년 10월 21일 상승률 상위 5개 회사를 출력하시오

In [7]:
data = kospi_df.copy()
data = data[data['dt'] == 20191021]
data = data.sort_values(['name','dt','cr'], ascending = True)[['name','dt','cr']]
data = data.sort_values(['cr'], ascending= False).reset_index(drop = True)[:5]
data.index = [1,2,3,4,5]
data

      name        dt        cr
1  LG디스플레이  20191021  3.928571
2    엔씨소프트  20191021  3.689320
3      오리온  20191021  3.000000
4     삼성전기  20191021  2.739726
5   CJ제일제당  20191021  2.690583

### Q4. 2019년 11월 30일에서 12월 5일까지 일별 상승률 상위5개 회사의 평균 상승율을 소수점 셋째 자리까지 출력하세요.

In [8]:
data = kospi_df.copy()
data = data.sort_values(['name','dt','cr'], ascending = True)[['name','dt','cr']]
data = data[(data['dt'] >= 20191130) * (data['dt'] <= 20191205)]
data = data.groupby(['name']).mean()['cr'].reset_index()

data = data.sort_values('cr', ascending = False)[:5]
data.index = [1,2,3,4,5]
data

       name        cr
1       한진칼  2.816390
2   BNK금융지주  1.500651
3  포스코인터내셔널  1.409590
4      두산밥캣  0.949353
5      삼성전기  0.904271

In [9]:
company = data['name'].values
avg = str(round(np.mean(data['cr']),3))
print('\n 기간 : [2019 11월 30일 : 2019년 12월 5일]\n 일별 상승률 상위 5개 회사는{}로 기록되었습니다. \n 이 5개 회사의 평균 상승율은 {}% 입니다.'.format(company,avg))

 기간 : [2019 11월 30일 : 2019년 12월 5일]
 일별 상승률 상위 5개 회사는['한진칼' 'BNK금융지주' '포스코인터내셔널' '두산밥캣' '삼성전기']로 기록되었습니다.
 이 5개 회사의 평균 상승율은 1.516% 입니다.

### Q5. 전체 기간에서 평균 등락이 가장 높은 3개의 회사 이름과 평균 등락 수치를 구하시오

In [10]:
data = kospi_df.copy()
data = data.sort_values(['name','dt','cr'], ascending = True)[['name','dt','cr']]
data = data.groupby('name').mean().sort_values('cr', ascending = False)[:3]
data

                   dt        cr
name
NAVER     20190957.23  0.404000
한진칼       20190957.23  0.375141
삼성바이오로직스  20190957.23  0.308734

In [11]:
name = data.index.values
avg = round(np.mean(data['cr'].values),3)

print('\n 기간 : 전체 \n {} 3개의 회사가 가장 높은 등락율을 기록했습니다. \n 이 3개 회사의 평균 등락 수치는 {}% 입니다.'
     .format(name, avg))

 기간 : 전체
 ['NAVER' '한진칼' '삼성바이오로직스'] 3개의 회사가 가장 높은 등락율을 기록했습니다.
 이 3개 회사의 평균 등락 수치는 0.363% 입니다.

### Q6. 네이버와 한국전력의 종가 데이터의 상관계수를 소수 둘째자리까지 출력하세요 NCV

In [12]:
data = kospi_df.copy()
data = data.sort_values(['name','dt','ncv'], ascending = True)[['name','dt','ncv']]
naver, ke = data[data['name'] == 'NAVER'], data[data['name'] == '한국전력']

In [13]:
corr = round(np.corrcoef(naver['ncv'], ke['ncv'])[0,1],2)
print('네이버와 한국전력의 종가 상관계수는 {}% 입니다.'.format(corr))

네이버와 한국전력의 종가 상관계수는 0.48% 입니다.